[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uwsgi = "*"
django = "*"
djangorestframework = "*"
celery = "*"
psycopg2-binary = "*"
django-redis = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
django-cors-headers = "*"
whitenoise = "*"
django-extensions = "*"
django-filter = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
flake8 = "*"
pydocstyle = "*"
pytest-django = "*"
coverage = "*"
ipython = "*"

[requires]
python_version = "3.11"
